# MATH 510 Cuong Ly- Homework 1

### Exercise 1

In [6]:
n = 3    # number of years the money put in the bank
p = 5 # interest rate
A = 1000 # initial amount
BalanceAmount = A *(1 + p/100) ** n
print(f"The amount of 3 years at 5 percent interest is {BalanceAmount:.3f}")

The amount of 3 years at 5 percent interest is 1157.625

### Exercise 2

In [2]:
width = 17
height = 12.0
delimiter = '.'
width/2,type(width/2)

(8.5, float)

In [12]:
width/2.0, type(width/2.0)

(8.5, float)

In [3]:
height / 3, type(height / 3)

(4.0, float)

In [4]:
1 + 2 * 5, type(1 + 2*5)

(11, int)

In [5]:
delimiter * 5, type(delimiter * 5)

('.....', str)

### Exercise 3

In [10]:
# Fix three issues: import pi, sin^2(x), cos^2(x) and the variable 1_val
from math import sin,cos,pi
x = pi / 4
val = (sin(x))**2 + (cos(x))**2
val

1.0

### Exercise 4

In [13]:
# C = A + B
# A = 3 
# B = 2 
# C
# The program does not work because variable A and B are not defined before variable C.
# Resolve the issue:
A = 3
B = 2 
C = A + B 
C

5

### Exercise 5

In [31]:
n = 11
i = 1
while i <= n:
    # if n is a odd number
    if n % 2 != 0: 
        print(i)
        i += 2
            
    # if n is an even number
    if n % 2 == 0: 
        print(i)
        n -= 1
        i += 2

1
3
5
7
9
11

### Exercise 6

In [36]:
n = 5
sum = 0
for i in range(1,n+1):
    sum += i
sum

15

In [38]:
# Check the result using equation n(n+1)/2
print(n*(n+1)/2)

15.0

### Exercise 7

In [ ]:
s = 0; k = 1; M = 100
while k < M:
    s += 1/k
print(s)
# k < M ( 1 < 100) is always true, so the while loop will keep execute, not exiting the loop
# The second error is k <= M

In [43]:
# Suggested solution
s = 0; k = 1; M = 100
while k <= M:
    s += 1/k
    k += 1
print(s)

5.187377517639621

### Exercise 8

In [44]:
from math import exp
def f(x):
    return exp(abs(x))
f(-0.5)

1.6487212707001282

### Exercise 9

In [46]:
x = 3
y = 4
print('False' if abs(x - y) <= 0.9 else 'True')

True

### Exercise 10

In [50]:
a = 1/947.0 * 947
b = 1
if a != b:
    print('Wrong result!')

Wrong result!

In [51]:
# Using tolerance 
tol = 1e-6
if abs(a - b) < tol:
    print("True")

True